html,
body{
  margin: 0;
  padding: 0;
  background-color: black;
}

h2, h4, a{
  font-family: Helvetica,sans-serif;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  margin: 10px;
}

/*header*/

.top{
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px seashell;
}
.logo img{
  height: 50px;
  margin-left: 10px;
}

.lien-top{
  display: flex;
  align-items: center;
  height: 69px;
  font-size: 22px;
  margin-right: 10px;
}

.lien-top a{
  margin-left: 15px;
  opacity: 0.9;
}


/*section one*/

.one{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-top: 69px;
}

.text-mission{
  background-color: black;
  padding: 3px;
}


/*section two*/

.two{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}
.flavour img{
  height: 200px;
  width: 300px;
  margin: 0 10px 0 10px;
  padding-top: 10px;
}
